$crudnick-primary: #526831;

@import './node_modules/@jlbelanger/crudnick/src/style';

.crudnick-cell--filename {
	font-size: 0;
}

.formosa-autocomplete__value {
	padding-left: 0;
	padding-right: #{$formosa-autocomplete-value-height - $formosa-autocomplete-value-padding-top};
}
