@use '~@jlbelanger/crudnick/src/scss/utilities/variables' as crudnick with (
	$crudnick-primary: #526831,
);
@use '~@jlbelanger/crudnick/src/style';

.crudnick-cell--filename {
	font-size: 0;
}

.image-placeholder {
	height: 50px;
	width: 50px;
}

.border {
	border: 1px solid crudnick.$crudnick-primary;
	margin-top: crudnick.$crudnick-margin;
	padding: crudnick.$crudnick-padding;

	& > :first-child {
		margin-top: 0;
	}
}

details {
	margin-top: crudnick.$crudnick-margin;
}

summary {
	cursor: pointer;
	display: inline-block;
}
